body {
    background-image: linear-gradient(to left, orange, yellow);
}

.fa-trash {
    color: rgb(240, 66, 66);
    pointer-events: none;

}

.fa-check {
    color: green;
    pointer-events: none;
}

.fa-plus-square {
    color: rgb(56, 166, 202);
    pointer-events: none;
    font-size: 20px;
}

.list-item {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 25px;
    height: 25px;
    width: 400px;
    border-style: solid;
    border-width: 2px;
    margin: 20px auto;
    transition: all .5s ease-in;
    text-decoration-color: red;
    background-color: white;
}

ul {
    margin-top: 50px;
}

.delete, .completed {
    background-color: white;
    position: relative;
    top: -5px;
    height: 25px;
    width: 50px;
    border-width: 1px;
    outline: none;
}

.delete:hover, .completed:hover {
    border-width: 2px;
}

#todo {
    height: 25px;
    width: 400px;
    font-size: 25px;
    border-width: 2px;
    
}

#submit {
    position: relative;
    height: 30px;
    width: 50px;
    background-color: white;
    outline: none;
    margin-left: 5px;
}

#submit:hover {
    border-width: 3px;
}

#todo-label {
    font-size: 25px;
}

.todo-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

@keyframes deleteItem {
    from {top: 0; opacity: 100%; transform: rotate(0deg);}
    to {top: 100px; opacity: 0; transform: rotate(20deg);}
}

@keyframes completeItem {
    from {}
}

.animate-delete {
    position: relative;
    animation: deleteItem 1s forwards;
}